html { color-scheme: light dark }
header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2rem;

  & ul, & ol {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
}

main, footer {
  display: grid;
  margin: 0 auto;
  margin-top: 2rem;
  grid-gap: 2rem;
}

a {
  text-decoration: inherit;
  color: inherit;
}

hr {
  margin: 0 auto;
  max-width: 50%;
  border: none;
  background-color: currentcolor;
}

img { display: block }

footer {
  position: sticky;
  top: 100vh;
  padding: 2rem;
}