:root {
  --color-black: #080808;

  --color-white: white;

  --color-grey: #333;

  --color-yellow: #ff0;
  --color-green:  #6c6;
  --color-blue:   #09f;
  --color-orange: #f93;
  --color-red:    #f55;
  --color-pink:   #c6c;

  --gradient: linear-gradient(135deg,
    var(--color-yellow) 10%,
    var(--color-green),
    var(--color-blue));
}
